.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

.gradient-custom {
    /* fallback for old browsers */
    background: #f093fb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.login-form-cont,
.signup-form-cont {
    display: none;
    padding: 50px;
}


.option-btns {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.option-btns>* {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #84fab0;
    font-weight: 600;
    font-size: large;
}

.option-btns>*:active {
    transform: scale(0.8);
}

.login-form-cont>*,
.signup-form-cont>* {
    padding: 20px;
}

#order-form{
    overflow: auto;
    height: 1vh;
    display: none;
}

.service-detail{
    height: 10em;
    width: 90%;
    resize: none;
    padding: 10px;
}

.review-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.review{
    resize: none;
    width: 90%;
    height: 5em;
    padding: 10px;
    border-radius: 30px;
    background-color: transparent;
}

.submit-review{
    width: fit-content;
    height: fit-content;
    border: none;
    background-color: #66bb8a;
    font-size: large;
    font-weight: 800;
    border-radius: 30px;
    padding: 10px;
}
.submit-review:active{
    transform: scale(0.8);
}
.work-options{
    height: 10vh;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.work-options>*{
    background-color: transparent;
}
